.principal{
	margin: 0 auto;
	display: grid;
	background-color: red;

}

.cabeca{
	display: flex;
	margin-right: 1rem;
	margin-left: 1rem;
	margin-top: 1rem;
	background-color: grey;

}

.cabeca img{
	width: 100%;

}

.tema-link_D, .tema-link_E{
	display: flex;
	margin: 1rem;
	padding: 1rem;
	background-color: blue;
	align-items: center;
}

.tema-link_D{
	justify-content: flex-start;
}

.tema-link_E{
	justify-content: flex-start;
	flex-direction: row-reverse;
}

.caixote_D, .caixote_E{
	display: flex;
	flex-direction: row; 
	align-items: center;
	background-color: brown;
	margin: 1rem;
	padding: 1rem;
	width: 50%;

}

.caixote_D{
	justify-content: flex-start;
	

}

.caixote_E{
	justify-content: flex-start;
	flex-direction: row-reverse;
	
}

.caixotinho{
	display: flex;
	flex-direction: column; 
	align-items: center;
	background-color: brown;


}

.caixa-links{
	margin: 1rem;
	padding: 1rem;
	background-color: green;

}

.title-caixote{
	margin-bottom: 1rem;

}

.descricao, .figure {

    width: 100%;
    height: 100%;
}

.descricao{
	padding: 1rem;
	top: 1rem;
	

}

.figure img {
    max-width: 100%;
}
