.header {
	margin: 10px;
	padding: 10px;
	position: relative;

}

.cabeca{
	border-style: solid;
	border-width: 4px;
	margin: 10px;
	height: 400px;

}
.nav{
	position: absolute;
	left: 250px;
	top: 30px;
}
.menu{
	display: inline;
	margin: 75px;
	 
}

.primeiro_tema{
	border-style: solid;
	border-width: 2px;
	margin: 20px 15px;
	width: 450px;
	height: 300px



}

.segundo_tema{
	border-style: solid;
	border-width: 2px;
	margin: 20px 15px;
	width: 450px;
	height: 300px
}


.terceiro_tema{
	border-style: solid;
	border-width: 2px;
	margin: 20px 15px;
	width: 450px;
	height: 300px
	


}

.quarto_tema{
	border-style: solid;
	border-width: 2px;
	margin: 20px 15px;
	width: 450px;
	height: 300px

}


#divBusca{
  position: absolute;
  background-color:#2F4F4F;
  border:solid 1px;
  border-radius:15px;
  width:300px;
  left: 800px;
  top: -15px;

}
 
#txtBusca{
  float:left;
  background-color:transparent;
  padding-left:5px;
  font-style:italic;
  font-size:18px;
  border:none;
  height:32px;
  width:260px;
}





















